# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (
    SparkSession
    .builder
    .appName('dupa')
    .getOrCreate()
)

In [ ]:
user_log = spark.read.json('data/sparkify_log_small.json')

In [4]:
user_log.createOrReplaceTempView('user_log_table')

# Question 1

Which page did user id ""(empty string) NOT visit?

In [9]:
spark.sql('''
    SELECT *
    FROM (
        SELECT DISTINCT page
        FROM user_log_table
        WHERE userId = ""
    ) AS user_pages
    RIGHT JOIN (
        SELECT DISTINCT page
        FROM user_log_table
    ) AS all_pages
    ON user_pages.page = all_pages.page
    WHERE user_pages.page IS NULL
''').toPandas()

   page              page
0  None  Submit Downgrade
1  None         Downgrade
2  None            Logout
3  None     Save Settings
4  None          Settings
5  None          NextSong
6  None           Upgrade
7  None             Error
8  None    Submit Upgrade

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [11]:
spark.sql('''
    SELECT COUNT(DISTINCT(userId))
    FROM user_log_table
    WHERE gender = "F"
''').toPandas()

   count(DISTINCT userId)
0                     462

# Question 4

How many songs were played from the most played artist?

In [ ]:
# TODO: write your code to answer question 4

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5